body{
 font-size: 1.4rem;
 padding:0.5rem;
}
pre{
 border:1px solid silver;
 padding: 10px;
 border-radius: 5px;
}
.st{
 color: green;
}
.op, .kw{
 color: blue;
}
.cf{
 color: brown;
}
.at{
 color:red;
}
.vs{
 color:orangered;
}

h2{
 border-right:5px solid green;
}
blockquote {
 padding: 1rem;
 /* width: 420px; */
 box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
   0 5px 15px 0 rgba(0,0,0,0.08);
 background-color: #d3b8b8;
 border-radius: 0.5rem;
 
 border-left: 0 solid #00ff99;
 transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

blockquote:hover {
 padding-left: 0.5rem;
 border-left: 0.5rem solid #00ff99;
}

blockquote > :first-child {
 margin-top: 0;
}

blockquote > :last-child {
 margin-bottom: 0;
}
span.co{
  color:darkorange;
  font-weight: bold;
}
span.ot{
  color:darkorange;
  font-weight: bold;
}
span.ow{
  color:darkorange;
  font-weight: bold;
}
span.kw{
  color:blue;
  font-weight: bold;
}

