body{
 font-size: 1.5rem;
}
.token.string{
 color: green !important;
}
.token.comment{
 color: brown !important;
}
.token.keyword{
 color: blue !important;
}
.token.punctuation{
 color: black !important;
}
h2{
 color: blue !important;
 border: 1px solid green;
 width: 30%;
 background-color: bisque;
}
.token.function{
 color: red !important;
}
.token.parameter{
 color: green !important;
}